@using Microsoft.AspNetCore.Identity
@using StartQuran.Areas.Identity.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model StartQuran.Service.BaseService.Model.ChangePassword

@{
    ViewData["Title"] = "تغير كلمة المرور";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var messageTemp = TempData["AlertMessage"] ?? string.Empty;

}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
@*<h1>UpdatePassword</h1>

    <h4>ChangePassword</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="UpdatePassword">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="OldPassword" class="control-label"></label>
                    <input asp-for="OldPassword" class="form-control" />
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NewPassword" class="control-label"></label>
                    <input asp-for="NewPassword" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>*@
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- jquery validation -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">تغير كلمة المرور</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form asp-action="UpdatePassword" asp-controller="Base" method="post" enctype="multipart/form-data" id="quickForm">

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="card-body">
                            <div class="form-group">
                                <label for="OldPassword">كلمة المرور القديم</label>
                                <input asp-for="OldPassword" type="password" name="OldPassword" class="form-control" id="OldPassword" placeholder="أكتب كلمة المرور القديمة">
                                <span asp-validation-for="OldPassword" class="text-danger"></span>

                            </div>
                            <div class="form-group">
                                <label for="NewPassword">كلمة المرور الجديدة</label>
                                <input asp-for="NewPassword" type="password" name="NewPassword" class="form-control" id="NewPassword" placeholder="أكتب كلمة المرور الحديثه">
                                <span asp-validation-for="NewPassword" class="text-danger"></span>

                            </div>
                            <div class="form-group">
                                <label for="ConfirmPassword">تاكيد كلمة المرور</label>
                                <input asp-for="ConfirmPassword" type="password" name="ConfirmPassword" class="form-control" id="ConfirmPassword" placeholder="أكتب تاكيد لمة المرور">
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

                            </div>



                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <div class="form-group">
                                <input type="submit" value="حفظ" class="btn btn-primary" />

                            </div>
                            @*<button id="btnSave" type="submit" class="btn btn-primary">حفظ</button>*@
                        </div>
                    </form>
                    @if (User.IsInRole("ADMIN"))
                    {
                        <p class="mb-1">
                            <a href="/Base/ForgetPassword" style="float:right">نسيت كلمة المرور</a>
                        </p>
                        @*<a href="/Base/ForgetPassword">نسيت كلمه السر</a>*@
                    }
                </div>
                <!-- /.card -->
                <button onclick="cancle()" style="float:right" class="btn btn-danger">رجوع</button>

            </div>
            <!--/.col (left) -->
            <!-- right column -->
            <div class="col-md-6">

            </div>
            <!--/.col (right) -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script type="text/javascript">
    $("#btnSave").click(function () {
        $("#quickForm").submit();
    });
     var message = '@messageTemp';
    if (message) {
        if (message == "Done") {

            Swal.fire({
                icon: 'success',
                title: 'عمل جيد',
                text: 'تم الحفظ',
            })
        }
        else {
            Swal.fire({
                icon: 'error',
                title: 'هناك مشكله',
                text: 'لم يتم الحفظ'
            })
        }
    }
    function cancle() {
        window.location.assign('/Home/Index');

    }
    //Swal.fire({
    //    title: 'Are you sure?',
    //    text: "You won't be able to revert this!",
    //    icon: 'warning',
    //    showCancelButton: true,
    //    confirmButtonColor: '#3085d6',
    //    cancelButtonColor: '#d33',
    //    confirmButtonText: 'Yes, delete it!'
    //}).then((result) => {
    //    if (result.isConfirmed) {
    //        Swal.fire(
    //            'Deleted!',
    //            'Your file has been deleted.',
    //            'success'
    //        )
    //    }
    //})

</script>
