@model IEnumerable<StartQuran.Models.DataBase.Student>

@{
    ViewData["Title"] = "الطلاب";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var messageTemp = TempData["AlertMessage"] ?? string.Empty;

}



<div class="card">
   
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped" data-page-length='100'>
            <thead>
                <tr style="text-align:center">
                
                    <th>الطالب</th>
                    
                    <th>العائله</th>

                    <th>الرابط</th>
                   

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                <tr style="text-align:center">

                    <td>@item.FullName</td>
                    <td>@item.Family.FullName</td>
                   
                    <td>http://startquran-001-site1.atempurl.com/Invoice/Student?id=@item.ID</td>
                  

                </tr>
                   
                }
            </tbody>

        </table>
    </div>
    <!-- /.card-body -->
</div>
